body {
  margin: 10px;
}


#recordButton {
    position: fixed;
    bottom: 400px;
    right: 30px;
}

#recordButton2 {
    position: fixed;
    bottom: 280px;
    right: 30px;
}

#recordButton img {
    width: 20px;
    height: 20px;
}

#recordButton2 img {
    width: 20px;
    height: 20px;
}